__pycache__
Templates\__pycache__\app.cpython-38.pyc
settings_project.py
Templates/static/css/authstyle.css
Templates/static/css/authorization.css
Templates/sqlite.py
Templates/product_photo/product_empty.jpg
Templates/flaskbd.py
Templates/static/css/catalog.css
Templates/static/css/product.css
Templates/static/css/profile.css
Templates/testlocal.py
"Templates/\321\210\320\260\320\261\320\273\320\276\320\275\321\213/index.html"
static/css/basestile.css
settings_project.py
tests.py
testing.py
db_test.py
